body {
    background-color: #dbdbdb;
}

button {
    border-radius: 10px;
    border-color: #dbdbdb;
    background-color: #d2d2d2;
    padding: 5px;
}

article {
    height: auto;
    width: 900px;
    border-radius: 15px;
    background-color: #d2d2d2;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
}

img {
    height: 200px;
    width: 300px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container {
    height: auto;
    width: 1300px;
    border-radius: 15px;
}

#header1 {
    height: 160px;
    width: 1250px;
    background-color: #bbbcb8;
    border-radius: 15px;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    text-decoration: double;
}

#header2 {
    height: 58px;
    width: 900px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    text-decoration: double;
    position: absolute;
    right: 280px;
}

#aside1 {
    height: 7480px;
    width: 200px;
    background-color: #bbbcb8;
    border-radius: 15px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 27px;
    margin-right: 2px;
    float: left;
}

#section1 {
    height: auto;
    width: 1025px;
    background-color: #bbbcb8;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    top: 5px;
    left: auto;
    right: auto;

}

#footer1 {
    height: 100px;
    width: 1260px;
    background-color: #bbbcb8;
    border-radius: 15px;
    display: inline-block;
    margin-top: 10px;
}

#logo-header {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    right: 140px;
}